
.container-about-beehoney {
    display: grid;
    grid-template-columns: 50% 50%;
    background: url(img/backround-photo-about-us.jpg);
    background-attachment: scroll;
    background-size: 100%;
    background-position: center;
}
.left-block >img {
   margin-left: 20px;
   width: 90%;
   height: auto;
   padding-bottom: 20px;
}

.why-choose-us {
    color: rgb(235, 109, 47);
    font-family: "Signika Negative", sans-serif;
    font-size: 100%;
    margin-bottom: 2%;
}

.about-beehoney{
    color: rgb(65, 57, 57);
    font-size: 300%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Signika Negative", sans-serif;
    margin-bottom: 2%;
}

.line-orange{
    border: none; 
    background-color: rgb(235, 109, 47); 
    color: rgb(235, 109, 47);
    height: 4px;
    width: 12%;
    margin-bottom: 20px;
}
.about-main p {
    color: rgb(114, 38, 0);
    display: contents;
    font-family: "Signika Negative", sans-serif;
}

.about-flex{
   display: flex;
   flex-direction: column;
}

.right-block > p{
    color: rgb(235, 109, 47);
}


.icon-text div {
    display: flex;
    align-items: left;
    font-family: var(--text-font-family);
    padding-bottom: 40px;
}


.icon-text div img {
    width: 91px;
    height: 100px;
}

.p-flex {
    display: flex;
    flex-direction: column;
}

.natural-environment{
   margin-top: 20px;
}