.main-about-us {
    display: flex;
    background: url(/img/backround-photo-about-us.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
.bees-and{
    width: 400px;
    height: 500px;
   
}

.left-photo{
margin-left: 60px;
margin-right: 60px;
}

.about-all{
 display: flex;
}

.choose-us{
    color: rgb(223, 120, 3);
    text-align: center;
    font-family: "Open Sans", sans-serif; 
    display: flex;
}

.about-beehoney {
    color: rgb(90,55,51);
    font-family: "Signika Negative", sans-serif;
    
}
.family {
    
}

.clean-areas {
    color:rgb(65,57,57);
}

.raw-honey {
    color: rgb(65,57,57);
}
.fast-ship{
    color:rgb(65,57,57);
}

.natural-environment {
    color: rgb(65,57,57);
    align-items: flex-end;
}