.main {
    background-color: rgb(250,244,240);
    display: flexbox;
    
}
.bees-and{
    width: 579px;
    height: 625px;
}

.left-photo{
    margin-left: 10px;
}
.choose-us{
    color: rgb(223, 120, 3);
    text-align: center;
    font-family: "Open Sans", sans-serif; 
}

.about-beehoney {
    color: rgb(90,55,51);
    font-family: "Signika Negative", sans-serif;
    display: contents;
}
.family {
    display: contents;
}

.clean-areas {
    color:rgb(65,57,57);
}

.raw-honey {
    color: rgb(65,57,57);
}
.fast-ship{
    color:rgb(65,57,57);
}

.natural-environment {
    
}