/* Block 2: What we do? */

.bg-banner-what-we-do {
  background: url(../img/bg-what-we-do.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.title-explanation {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 700;
  color: var(--title-explanation-color);
}

.title-level-2 {
  text-align: center;
  font-family: var(--title-font-family);
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}

.divider-component {
  margin-left: 45%;
  height: 4px;
  width: 10%;
  background-color: var(--divider-component-color);
}

.after-title-2-text {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
}

.carousel-honey-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.honey-icons {
  max-width: 90px;
}

.title-level-3 {
  font-family: var(--title-font-family);
  font-size: 22px;
  font-weight: 700;
  color: var(--title-color);
}

.after-title-3-text {
  font-family: var(--text-font-family);
  width: 315px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-text-color);
}

[href="#learn-more"] {
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 700;
  color: var(--learn-more-color);
}

/* Block 6: Our Honey */

.bg-banner-our-honey,
.honey-questions {
  background: url(../img/bg-our-honey.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.honey-articles {
  display: flex;
  flex-wrap: wrap;
}

.product-images {
  width: 200px;
}

.wildflower-honey-article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title-honey-articles {
  font-family: var(--title-font-family);
  color: var(--article-color);
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.price-for-honey {
  font-family: var(--title-font-family);
  color: var(--learn-more-color);
  font-size: 21px;
  font-weight: 700;
}

.buy-now-button {
  background-color: var(--title-explanation-color);
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: bold;
  color: var(--buy-now-color);
  border-radius: 5px;
  padding: 8px 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

/* Block  10: Honey Questions */

.honey-questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.honeycomb {
  display: block;
  max-width: 350px;
}

.honey-questions-block {
  display: flex;
  flex-direction: column;
}

.title-explanation-honey-questions {
  font-family: var(--text-font-family);
  color: var(--title-explanation-color);
  font-size: 14px;
  font-weight: 700;
}

.title-level-2-honey-questions {
  font-family: var(--title-font-family);
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}

.divider-component-honey-questions {
  margin-left: 45%;
  height: 4px;
  width: 10%;
  background-color: var(--divider-component-color);
}

.after-title-2-text-honey-questions {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
}

summary {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 21px;
  font-weight: 700;
}

.accordeon-text {
  font-family: var(--text-font-family);
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  width: 50%;
}
