/* Block 2: What we do? */

.bg-banner {
  background: url(../img/bg-what-we-do.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.title-explanation {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 700;
  color: var(--title-explanation-color);
}

.title-level-2 {
  text-align: center;
  font-family: var(--title-font-family);
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}

.divider-component {
  margin-left: 45%;
  height: 4px;
  width: 10%;
  background-color: var(--divider-component-color);
}

.after-title-2-text {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
}

.carousel-honey-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.honey-icons {
  max-width: 90px;
}

.title-level-3 {
  font-family: var(--title-font-family);
  font-size: 22px;
  font-weight: 700;
  color: var(--title-color);
}

.after-title-3-text {
  font-family: var(--text-font-family);
  width: 315px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-text-color);
}

[href="#learn-more"] {
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 700;
  color: var(--learn-more-color);
}

/* Block 6: Our Honey */

.wildflower-honey-article,
.blossom-honey-article,
.clover-honey-article,
.buckwheat-honey-article,
.citrus-blossom-honey-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
  margin-left: 50px;
}
