

.contacts-all {
    display: flex;
    background: url(/img/background-contacts.jpg);
    background-size: cover;
}

.contacts-left{
    margin-left: 100px;
    font-family: "Open Sans", sans-serif;
    
}

.telephone-email {
    color: black;
}

.contacts-tittle{
    padding-top: 150px;
    padding-bottom: 20px;
    color: rgb(235, 109, 47);
    font-family: "Signika Negative", sans-serif;
}

.contacts-anytime{
    padding-bottom: 20px;
    color: rgb(90, 55, 51);
    font-family: "Signika Negative", sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.contacts-line {
    border: none; 
    background-color: rgb(235, 109, 47); 
    color: rgb(235, 109, 47);
    height: 4px;
    width: 10%;
}

.contacts-text{
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(65, 57, 57);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.address-tittle {
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(90, 55, 51);
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.address-info {
    display: flex;
    align-items: center;
}

.hours-tittle {
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(90, 55, 51);
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.tele-email{
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(90, 55, 51);
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
    font-weight: 100;
}





.message-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    margin-left: 50px;
    margin-top: 160px;
    height: 600px;
    width: 500px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.message-form input {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: grey;
    background-color: rgb(250,244,240);

}

.message-form input:nth-child(4) {
    padding: 40px 20px;

}

.btn-request {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px 0;
}