.honey-med-dva {
    background: url(../img/honey-hat.png);
    object-fit: cover;
}

.hat-honey{
    background-color: #F7BD00;
}

.how-order{
    color: var(--title-explanation-color);
    font-family: var(--title-font-family);
    font-size: 14px;
    font-weight: bolder; 
    text-align:center;
    padding-top: 40px;
}

.order-honey{
    color: var(--main-text-color);
    font-family: var(--title-font-family);
    font-size: 36px;
    font-weight: bold; 
    text-align:center;
    padding-top: 40px;
}


.line-back{
    border: none; 
    background-color: rgb(235, 109, 47); 
    color: rgb(235, 109, 47);
    height: 4px;
    width: 6%;

  }

  .information-about-order {
    font-family: var(--title-font-family);
    justify-content: center;
    padding-left: 300px;
  }

  .steps-order{
      display: flex;
  }

.wait-a-bit {
    color: rgb(90, 55, 51);
    font-size: 26px;
    font-weight: 700;
}

.wait {
    color: rgb(65, 57, 57);
    font-family: "Open Sans", sans-serif;
}


.different-types {
    color: rgb(65, 57, 57);
    font-family: "Open Sans", sans-serif;
}


.really-quick {
    color: rgb(65, 57, 57);
    font-family: "Open Sans", sans-serif;
}




.chosse-honey {
    color: rgb(90, 55, 51);
    font-size: 26px;
    font-weight: 700;
}

.order-enjoy {
    color: rgb(90, 55, 51);
    font-size: 26px;
    font-weight: 700;
}


  .box-btn{
    background-color: var(--title-explanation-color);
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: bold;
    color: var(--buy-now-color);
    border-radius: 5px;
    padding: 8px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 30px;
  }
