.foto-hat{
    background: url(/img/honey-hat.png);
}

.box-btn{
    background-color: var(--title-explanation-color);
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: bold;
    color: var(--buy-now-color);
    border-radius: 5px;
    padding: 8px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }