.hat-honey{
    background:url(/img/honey-hat.png);
    background-repeat: no-repeat;
    background-color: #F7BD00;
}

.how-order{
    color: var(--title-explanation-color);
    font-family: var(--title-font-family);
    font-size: 14px;
    font-weight: bolder; 
    text-align:center;
}

.order-honey{
    color: var(--main-text-color);
    font-family: var(--title-font-family);
    font-size: 36px;
    font-weight: bold; 
    text-align:center;
    margin-top: 40px;
}


.line-back{
    border: none; 
    background-color: rgb(235, 109, 47); 
    color: rgb(235, 109, 47);
    height: 4px;
    width: 6%;
    margin-top: 15px;

  }

  .box-btn{
    background-color: var(--title-explanation-color);
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: bold;
    color: var(--buy-now-color);
    border-radius: 5px;
    padding: 8px 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
