@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');


.block-8 {
    padding: 120px 30px 120px 30px;
    background: url(../img/fone-block-8.jpg);
    background-size: cover;
    background-position: center;
}
.banner-block-8 
h3 {

    color:#f7bd00;
    font-size: inherit;
    text-align: center;
    vertical-align: baseline;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    text-align: center;
    font-size: 38px;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    margin: 20px;
}
.text-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    
}

.dash {
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 10%;
    background-color: #f7bd00;
} 
img {
       display: block;
       margin-left: auto;
       margin-right: auto;
} 


.card1, .card2, .card3 {
    border: 1px solid rgb(102, 59, 54);
    padding: 0px; 
    margin: 10px;
}
.card1, .card2, .card3 
h3 {
    color:#f7bd00; 
    font-size: 22px;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    color: white;
}
h5 {
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.card {
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px; 
    min-height: 900px; 
    background-color: rgb(102, 59, 54);
    display: flex;
    flex-direction: row;
    background-size: cover;
    
} 

.info {
    background-color: #f4ece5;
    display: flex;
    flex-direction: row; 
    height: 200px;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
}

.info 
h2 {
    text-align: center;
    color: rgb(235, 109, 47);
    font-family: 'Signika Negative', sans-serif;
}
.text-info {
    text-align: center;
    color:rgb(102, 59, 54); 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}
.dash-info {
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 100px;
    background-color: #6e2c0b;
    
}

/* .block-info1 {
    margin: 50px 50px 50px 200px;
}
.block-info2 {
    margin: 50px 50px 50px 50px;
}
.block-info3 {
    margin: 50px 50px 50px 50px;
}
.block-info4 {
    margin: 50px 200px 50px 50px;
} */

