*{
	font-family: 'Poppins', sans-serif;
}

body{
	background: rgb(247,189,0);
	color: black;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.block-watch {
    padding-top: 30px;
    height: 400px !important;
    align-items: center !important;
    text-align: center !important; 
}

.container{
	width: 500px;
	height: 250px;
	flex-direction: column;
}

.container h2{
	font-size: 5rem;
	margin: 35px;
}

button{
	width: 150px;
	height: 40px;
	font-size: 1rem;
	color: #fff;
	background: #000;
	outline: none;
	border: none;
	cursor: pointer;
	background: black
}