@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Signika+Negative:wght@300&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

.title-explanation {
    font-size: 14px;
    font-weight: 700;
    color: rgb(235, 109, 47);
}

.title-level-2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: rgb(90, 55, 51);
}

.divider-component {
    height: 4px;
    width: 10%;
    background-color: rgb(235, 109, 47);
}

.after-title-text {
    font-size: 18px;
    font-weight:400;
    color: rgb(65, 57, 57);
}
.honey-icons {
    max-width: 90px;
}